.game{
	display :inline-flex;
	flex-direction: column;
	gap: 0.7em;
	overflow-x: auto;
	padding:0 1em 1em 0;
	overflow:visible;
}
.game-info{
	display: flex;
	justify-content:space-between ;
	font-weight: bold;
	gap:2em;
}
.slots-container{
	/* margin-top: 0.5em; */
	display: flex;
	/* overflow-x: auto; */
	flex-wrap: nowrap;
	gap: 0.5em;
}